<p>
  <strong>title:</strong>
   <%= @book.title %>
</p>

<p>
 <strong>body:</strong>
 <%= @book.body %>
</P>

<%=link_to "Edit", edit_book_path(@book.id) %>
|
<%= link_to "back", book_path(@book.id) %>